<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contato</title>
    <linl rel="stylesheet" href="../static/_src/reset.css"/>
    <link rel="stylesheet" href="../static/_src/users.css"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
<body>
    <div id="interface">
        <div class="app_background">  
            <header>
                <img id="logo" src="../static/_img/logo.png">
                    <ul id="menu">
                        <li id="menu"><a href="/">Home</a></li>
                        <li id="meio"><a href="/quem_somos">Quem somos</a></li>
                        <li id="meio1"><a href="/contato">Contato</a></li>
                        <li id="menu"><a href="/users">Usuários</a></li>
                    </ul>
            </header>
            <br>
            <br>
            <br>
            <body>
                <h3>Usuários</h3>
                <div class="tabela">

                <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th scope="col">ID</th>
                        <th scope="col">E-mail</th>
                        <th scope="col">Assunto</th>
                        <th scope="col">Descrição</th>
                      </tr>
                    </thead>

                    {% for contato in userDetails %}
                    
                    <tbody>
                      <tr>
                        <td>{{contato[0]}}</td>
                        <td>{{contato[1]}}</td>
                        <td>{{contato[2]}}</td>
                        <td>{{contato[3]}}</td>
                      </tr>
                      <tr>
                    </tbody>

                    {% endfor %}
                  
                </table>
                </div>
            </body>
            <h5>Todos os direitos reservados</h5>
        </div>
    </div>            
</body>
</html>    