@charset "UTF-8";

body {
    background-color: white;
    margin: auto;
    background-image: url(../_img/fundo2.png);

}

div#interface {
    width: 900px;
    margin: -10px auto 0px auto;
    padding: 10px;
    position: relative;
    text-align: center;
}

header {
    width: 900px;
    position: static;
    align-items: center;
}

img#logo {
    position: relative;
    top: 25px;
    right: 330px;
}

ul#menu {
    list-style: none;
    position: absolute;
    top: 40px;
    right: 310px;
}

li#menu {
    position: relative;
    display: inline-block;
    padding: 10px;
    left: 300px;
    text-decoration: none;
}

li#meio {
    position: relative;
    display: inline-block;
    padding: 0px 10px;
    left: 300px;
    border-left: 1px #606060 solid;
    border-right: 1px #606060 solid;
}

li#meio1 {
    position: relative;
    display: inline-block;
    padding: 0px 10px;
    left: 300px;
    border-right: 1px #606060 solid;
}

h2 {
    position: relative;
    text-align: justify;
    top: 35px;
    left: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    position: relative;
    text-align: justify;
    top: 25px;
    left: 10px;
    width: 880px;
    font-family: Arial, Helvetica, sans-serif;
}

h5 {
    position: relative;
    text-align: center;
    top: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

thead {
    position: relative;
    align-items: center;
}
